.control {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 
}

@media only screen and (max-width: 1024px) {
    .control>* {
        flex-basis: 25%;
    }
}
@media only screen and (max-width: 768px) {
    .control>* {
        flex-basis: 33.33%;
    }
}
@media only screen and (max-width: 320px) {
    .control>* {
        flex-basis: 49%;
    }
}

.card {
    width: 12vw;
}

.card-text {
    font-size: small;
    color: black;
    font-weight: bold;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 1px;
}

.card-img-round{
    border-radius: 50%;
    height: 10hv;
}