* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    height: 40px;
    width: auto;
}

/* Navbar */
#navbar {
    display: flex;
    color: white;
    background-color: rgba(0,0,0,0.0001);
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

#navbar .navbar-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

#navbar a:link {
    color: white;
    text-decoration: none;
}

#navbar a:hover {
    color:greenyellow;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
}

#navbar .navbar-container ul li {
    padding: 0px 20px;
    font-weight: bold;
}

#navbar .navbar-container ul li:nth-child(3) {
    border-right: 1px solid white;
}

/* Showcase */
#showcase {
    height: fit-content;
    display: flex;
    justify-content: center;
    background: rgb(29,89,26);
    background: linear-gradient(180deg, rgba(29,89,26,1) 5%, rgba(17,17,17,1) 20%);
    background-color: rgba(19,0,0,0.4);
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 30px;
    padding: 30px;
}

#showcase .showcase-container h1 {
    font-size: 1.1rem;
    color: #919496;    
    padding: 0%;
    margin-top: 20%;
}

#showcase .showcase-container h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 5%;
    text-align: center;
}

#showcase .faq h2 {
    font-size: 1.5rem;
    text-align: left;
    padding: 0%;
    
}

/* 
#showcase .faq .faq-menu-items { }
*/

#showcase .showcase-container .faq ul li {
    list-style: square;
    margin: 3px;
}

/*
#showcase .showcase-container .faq .faq-menu-items .faq-menu-item { } 
*/

.btn {
    margin-top: 5%;
    text-align: center;
}

.btn-primary {
    background: #1db954;
    color: black;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

#showcase .btn-primary {
    margin-top: 30px;
}

/* Footer */
#footer {
    background: black;
    color: white;
    padding: 70px 0px;
}

#footer .footer-content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

#footer .footer-content .footer-menu {
    margin: 0 60px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
    margin: 25px 0px;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

/* Footer Social */
.socials {
    display: flex;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
}

/* Footer Info */
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    color: #919496;
    font-weight: bold;
    font-size: 0.75rem;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 10px;
}
/* 
.footer-info .rights { }
*/

.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.footer-info .rights .country .brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}